.para-01 {
    background-color: rgba(0, 0, 255, 0.842);
    font-size:20px;
    font-weight: 900;
}
.para-02 {
background-color: rgba(0, 0, 255, 0.699);
 font-size:20px;
    font-weight: 900;
}

.para-03 {
    background-color: rgba(0, 0, 255, 0.555);
     font-size:20px;
    font-weight: 900;
}

.para-04 {
    background-color: rgba(0, 0, 255, 0.479);
     font-size:20px;
    font-weight: 900;
}

.para-05 {
    background-color: rgba(0, 0, 255, 0.384);
     font-size:20px;
    font-weight: 900;
}

.para-06 {
    background-color: rgba(0, 0, 255, 0.281);
     font-size:20px;
    font-weight: 900;
}

.para-07 {
    background-color: rgba(0, 0, 255, 0.199);
     font-size:20px;
    font-weight: 900;
}

.para-08 {
    background-color: rgba(0, 0, 255, 0.116);
     font-size:20px;
    font-weight: 900;
}

.para-09 {
    background-color: coral ;
     font-size:20px;
    font-weight: 900;
}
.para-10 {
    background-color: rgba(255, 0, 255, 0.116);
    font-size:20px;
    font-weight: 900;
}
.para-11 {
    background-color: rgba(255, 0, 255, 0.199);
    font-size:20px;
    font-weight: 900;
}

.para-12 {
    background-color: rgba(255, 0, 255, 0.281);
    font-size:20px;
    font-weight: 900;
}

.para-13 {
    background-color: rgba(255, 0, 255, 0.384);
    font-size:20px;
    font-weight: 900;
}

.para-14 {
    background-color: rgba(255, 0, 255, 0.479);
    font-size:20px;
    font-weight: 900;
}

.para-15 {
    background-color: rgba(255, 0, 255, 0.555);
    font-size:20px;
    font-weight: 900;
}

.para-16 {
    background-color: rgba(255, 0, 255, 0.705);
    font-size:20px;
    font-weight: 900;
}
.para-17 {
    background-color: rgba(255, 0, 255, 0.842);
    font-size:20px;
    font-weight: 900;
}






